.headerRoot {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 999;
  background: rgba(20, 20, 20, 0.18);
}

.headerLeft {
  position: absolute;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  font-weight: 600;
  color: #e8e8e8;
  cursor: pointer;
  transition: color 0.2s;
}
.headerLeft:hover {
  color: rgba(42, 222, 174, 0.8);
}

.headerCenter {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.05);
  padding: 1.05rem 4rem;
  display: flex;
  gap: 2.4rem;
  border: 1px solid rgba(104, 104, 104, 0.2);
  border-radius: 6px;
}

.navItem {
  font-family: 'Inter', 'Open Sans', 'Arial', 'sans-serif';
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0px;
  color: #adadad;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  transition:
    color 0.2s,
    transform 0.2s,
    text-shadow 0.2s;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.navItem::after {
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 2px;
  width: 0;
  background-color: rgba(42, 222, 174, 0.85);
  transition: width 0.2s;
}
.navItem:hover {
  color: rgba(42, 222, 174, 0.85);
  transform: scale(1.05);
}
.navItem:hover::after {
  width: 100%;
}

.headerRight {
  position: absolute;
  right: 5rem;
  top: 30%;
  font-family: 'Inter', 'Open Sans', 'Arial', 'sans-serif';
  font-size: 1.4rem;
  letter-spacing: 0.5px;
  font-weight: 550;
  color: rgb(105, 163, 255);
  cursor: pointer;
  transition:
    color 0.2s,
    transform 0.2s;
}

.usernameText {
  display: inline-block;
  color: rgba(63, 134, 247, 0.778);
}
.usernameText:hover {
  color: rgba(86, 151, 255, 0.897);
  transform: scale(1.03);
}

.signOutText {
  display: inline-block;
  padding-left: 1rem;
  color: #b51c1cb7;
  transition:
    color 0.2s,
    transform 0.2s;
}
.signOutText:hover {
  color: #d22121c7;
  transform: scale(1.03);
}

.tooltip {
  position: relative;
}

.tooltip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  background: rgba(50, 50, 50, 0.55);
  color: #a7a7a7;
  padding: 6px 10px;
  border-radius: 4px;
  bottom: -40px;
  left: 50%;
  white-space: nowrap;
  font-size: 0.7rem;
  pointer-events: none;
  z-index: 9999;
  opacity: 1;
}
