.playerColorDisplayRow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--space-md) 0;
  gap: 5px;
  font-size: var(--text-lg);
  color: var(--text-secondary);
  user-select: none;
}
