.userProfileContainer {
  width: 60rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: rgba(93, 93, 93, 0.25);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  font-family: 'Open Sans', Arial, sans-serif;
  text-align: center;
  color: #c0c0c0c3;
}

.userProfileHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.userProfileIcon {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}

.userProfileTitle {
  user-select: text;
  font-size: 1.8rem;
  margin: 0;
  font-weight: 600;
}

.userProfileRating {
  font-size: 1.2rem;
  color: #ccc;
}

.userProfileLoading {
  font-size: 1rem;
  color: #aaa;
}

.userProfileGraph {
  margin-top: 1rem;
  padding: 2rem;
  background: #5e5e5e28;
  border-radius: 6px;
  font-size: 1rem;
  color: #ccc;
}
