.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  text-align: center;
  position: relative;
}

.timer {
  margin-bottom: 20px;
}

.chessboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flipButton {
  position: absolute;
  top: -220px;
  right: -140px;
  padding: 8px 18px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #595959;
  color: white;
  transition: background-color 0.5s ease;
  margin: 0;
}

.flipButton:hover {
  background-color: #434343;
}
