.panel {
  display: flex;
  width: 360px;
  height: 382px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(80, 80, 80, 0.25);
  border: 1px solid #444;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.clockLayout {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  transform: translateY(6.5rem);
}

.clockWrapper {
  display: flex;
  justify-content: center;
}
