.chessGameContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -8.5vh;
  min-height: 500px;
  text-align: center;
  position: relative;
}

.rowWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.chessBoardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
