.panel {
  display: flex;
  margin-top: 186px;
  width: 360px;
  height: 380px;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(80, 80, 80, 0.25);
  border: 1px solid #444;
  border-radius: 8px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.AIPlayStyle {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #a2ffa2;
}

.AIPlayStyleLabel {
  font-size: 0.9rem;
  font-weight: 500;
  color: #c3c3c3;
}
