.difficultyDisplayContainer {
  font-size: var(--text-md);
  font-weight: 500;
  color: var(--success);
  user-select: none;
}

.difficultyLabel {
  font-weight: 200;
  color: var(--text-secondary);
  font-size: var(--text-md);
  margin-top: 0.5rem;
  user-select: none;
}
