.difficultyDisplayContainer {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--success);
  user-select: none;
}

.difficultyLabel {
  font-weight: 200;
  color: var(--text-secondary);
  font-size: 0.9rem;
  margin-top: 0.5rem;
  user-select: none;
}
