.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  z-index: 1000;
}

.titleAndPanel {
  display: flex;
  align-items: center;
  gap: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.title {
  margin: 0;
  font-size: 2.2rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  color: rgb(207, 207, 207);
  transition: color 0.4s ease-in-out;
  user-select: none;
}

.title:hover {
  color: #2d7ed4;
}

.buttonPanel {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px 15px;
  border: 1px solid #4a4a4a;
  border-radius: 5px;
  background-color: #4a4a4a;
}

.button {
  padding: 5px 10px;
  font-size: 1.3rem;
  cursor: pointer;
  background-color: transparent;
  color: black;
  border: none;
  border-radius: 3px;
  transition:
    background-color 0.4s ease-in-out,
    color 0.4s ease-in-out;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

.button span {
  display: inline-block;
  transition: transform 0.4s ease-in-out;
}

.button:hover {
  color: #2adeaeed;
  outline: none;
  background-color: transparent;
  box-shadow: none;
}

.button:hover span {
  transform: scale(1.08);
}

.button:focus,
.button:active {
  outline: none;
  background-color: transparent;
  box-shadow: none;
  transform: scale(1.05);
}

button::-moz-focus-inner {
  border: 0;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}
