.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 2px solid #333;
  user-select: none;
}

.square {
  width: 100%;
  height: 100%;
  position: relative;
}

.square.light {
  background-color: #f0d9b5;
}

.square.dark {
  background-color: #b58863;
}

.square.selected {
  background-color: rgba(67, 132, 182, 0.253) !important;
}

.highlightDot {
  width: 22%;
  height: 22%;
  background-color: rgba(16, 117, 195, 0.467);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
