.difficultySettingRow {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.difficultySliderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.difficultySliderLabel {
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--text-secondary);
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
}

.difficultySliderInput {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  height: 6px;
  background: var(--surface-3);
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.difficultySliderInput::-webkit-slider-runnable-track {
  height: 6px;
  background: var(--surface-3);
  border-radius: 4px;
}

.difficultySliderInput::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  margin-top: -9px;
  background-color: var(--surface-4);
  border: 2px solid var(--surface-3);
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color 0.1s ease,
    transform 0.1s ease;
}

.difficultySliderInput::-moz-range-track {
  height: 6px;
  background: var(--text-muted);
  border-radius: 4px;
}

.difficultySliderInput::-ms-track {
  height: 6px;
  background: transparent;
  color: transparent;
  border: none;
}

.difficultySliderInput::-ms-fill-lower {
  background: var(--text-muted);
  border-radius: 4px;
}

.difficultySliderInput::-ms-fill-upper {
  background: var(--text-muted);
  border-radius: 4px;
}
