.settingRow {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 1.5rem;
}

.rangeSliderContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.rangeSliderLabel {
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #acacac;
  font-size: 1.1rem;
  text-transform: uppercase;
  text-align: center;
}

.rangeSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 70%;
  height: 6px;
  background: #444;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.rangeSlider::-webkit-slider-runnable-track {
  height: 6px;
  background: #444;
  border-radius: 4px;
}

.rangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  margin-top: -9px;
  background-color: #545454;
  border: 2px solid #3c3c3c;
  border-radius: 50%;
  cursor: pointer;
  transition:
    background-color 0.1s ease,
    transform 0.1s ease;
}

.rangeSlider::-moz-range-track {
  height: 6px;
  background: #666;
  border-radius: 4px;
}

.rangeSlider::-ms-track {
  height: 6px;
  background: transparent;
  color: transparent;
  border: none;
}

.rangeSlider::-ms-fill-lower {
  background: #666;
  border-radius: 4px;
}

.rangeSlider::-ms-fill-upper {
  background: #666;
  border-radius: 4px;
}
