.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  text-align: center;
  padding-top: 20rem;
  box-sizing: border-box;
}

.title {
  margin-bottom: 20px;
}

.details {
  margin-bottom: 10px;
}

.gameLayout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
}

.boardWrapper {
  display: flex;
}

.panelWrapper {
  display: flex;
}
