.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: #2c2c2c;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  position: relative;
  text-align: center;
}

.settingRow {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.optionRow {
  display: flex;
  gap: 0.5rem;
}

.optionButton {
  padding: 0.5rem 1rem;
  background: #444;
  border: 1px solid #666;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition:
    background 0.1s ease,
    transform 0.2s ease;
}

.optionButton:hover {
  background: #555;
  transform: scale(1.03);
}

.selected {
  background: #17661f;
  border-color: #2db03a;
}

.modalActions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.modalActions button {
  background: #005a15;
  border: 1px solid #666;
  border-color: #106e93;
  border-radius: 4px;
  font-size: large;
  color: #fff;
  padding: 0.5rem 1rem;
  transition:
    background 0.1s ease,
    transform 0.2s ease;
}

.modalActions button:hover {
  background: #555;
  transform: scale(1.03);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.closeButton:hover {
  color: #aaa;
}
